/* all variable are here */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home {
  background: url(../images/3425171.jpg) center center/cover no-repeat;
  background-color: #00002e;
  background-blend-mode: lighten;
  height: 100vh;
}

.conatiner {
  width: 1200px;
}

.navbar {
  background: rgba(0, 0, 0, 0.336);
}

.navbar .logo {
  text-align: center;
}

.navbar .logo img {
  width: 50%;
  border-radius: 50%;
}

.navbar .content h1.title {
  font-size: 80px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#F0EE3A), to(#5e08ce));
  background: linear-gradient(to right, #F0EE3A, #5e08ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.navbar .content p {
  background: -webkit-gradient(linear, left top, right top, from(#F0EE3A), to(#5e08ce));
  background: linear-gradient(to right, #F0EE3A, #5e08ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-align: center;
}

.main-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > div {
  padding: 20px;
}

.content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 20px;
}

.content .left-site .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.content .left-site .row .col {
  padding: 28px 10px;
  width: 100%;
  color: #F0EE3A;
  background: #00002eb2;
  margin: 10px auto;
  border: #F0EE3A 1px solid;
  border-radius: 30px;
  text-align: center;
}

.content .right-site .play-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .right-site .play-button .vol-up, .content .right-site .play-button .vol-down {
  height: 100px;
  width: 100px;
  background: #1C2853;
  border-radius: 50%;
  margin: 20px;
  border: 3px solid #F0EE3A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content .right-site .play-button .play-pause {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #1C2853;
  border: 4px solid #F0EE3A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */